<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/ClientsStyle.css">
  <link rel="stylesheet" href="/css/messages.css">
  <link rel="stylesheet" href="/css/jquery.modal.min.css">
  <title>Сообщения</title>
</head>
<body>
  <header class="header">
    <div class="logo">
      <a id="hrefDirections">
        <img src="/img/logo.svg" alt="logo" class="logo-icon">
      </a>
      <div class="logo-text">
        <h1>guard</h1>
        <p>Legal assistant</p>
      </div>
    </div>
    <!-- /.logo -->
    <div class="buttons">
      <a id="hrefLawyers" class="category-button">Юристы</a>
      <a id="hrefClients" class="category-button">Клиенты</a>
      <a id="hrefMessages" class="category-button is-active">Сообщения</a>
    </div>
    </div>
    <div class="user-info">
      <h3 class="user-name">
        UserName
      </h3>
      <div class="user">
        <div class="user-links">
          <a href="index" class="exit" onclick="exit()">
            Выйти
          </a>
          <a id="hrefPersonalCabinet" class="personal-cabinet-link">
            Личный кабинет
          </a>
        </div>
      </div>
    </div>
    <!-- ./user -->
  </header>
  <div class="messages">
    <h1>Просмотр сообщений</h1>
    <div>
      <form action="#" id="formsearch">
      Период с <input type="date" name="fromdate" id="fromdate" required="required"> по
        <input type="date" name="todate" id="todate" required="required">
      <input type="submit" id="searchMessage" value="Искать">
      </form>
    </div>
    <div class="messages">
      <table id="messageTable">
        <thead>
          <tr class="table-titles">
            <th class="table-title50">ИД Чата</th>
            <th class="table-title200">Дата сообщения</th>
            <th class="table-title50">От кого</th>
            <th class="table-title50">ИД пользователя</th>
            <th class="table-message">Текст сообщения</th>
          </tr>
        </thead>
        <tbody class="body-table">

        </tbody>
      </table>
    </div>
  </div>
  <script src="/js/common.js"></script>
  <script src="/js/messages.js"></script>
  <script src="/js/pageListeners.js"></script>
  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/jquery.modal.min.js"></script>
</body>
</html>